<section class="lg:py-20 py-10 px-4 bg-[#121212] relative group">
  <img src="/images/video-poster.jpeg" class="w-full h-full object-cover rounded-4xl group-hover:opacity-75 transition-all ease-out duration-300" />

  <button type="button" class="absolute left-1/2 lg:left-1/4 top-1/2 -translate-1/2 lg:opacity-0 group-hover:opacity-100 transition-all ease-out duration-300 cursor-pointer">
    <svg width="124" height="125" viewBox="0 0 124 125" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="0.25" width="124" height="124" rx="62" fill="white"/>
      <path d="M69.4999 59.6519C71.4999 60.8066 71.4999 63.6934 69.4999 64.8481L60.4999 70.0442C58.4999 71.1989 55.9999 69.7556 55.9999 67.4462L55.9999 57.0538C55.9999 54.7444 58.4999 53.3011 60.4999 54.4558L69.4999 59.6519Z" fill="black"/>
    </svg>
  </button>
</section>