---
import SectionTitle from "../SectionTitle.astro";
import ServiceCard from "../ServiceCard.astro";

const services = [
  {
    title: "Creativity & Design",
    bgcolor: "#FF7F00",
    description: "Netus sapien consectetur dictumol viverra pellentesque urna tellus arcu nunc sed amet tellus nequeol mi aliquam tincidunt ultrices.",
    image: "/images/service-1.png"
  },
  {
    title: "Interactive Experiences",
    bgcolor: "#121212",
    color: "#FFFFFF",
    description: "Netus sapien consectetur dictumol viverra pellentesque urna tellus arcu nunc sed amet tellus nequeol mi aliquam tincidunt ultrices.",
    image: "/images/service-1.png"
  },
  {
    title: "New Technologies",
    bgcolor: "#F2F2F2",
    description: "Netus sapien consectetur dictumol viverra pellentesque urna tellus arcu nunc sed amet tellus nequeol mi aliquam tincidunt ultrices.",
    image: "/images/service-1.png"
  },
  {
    title: "Management & Production",
    bgcolor: "#99E9EB",
    description: "Netus sapien consectetur dictumol viverra pellentesque urna tellus arcu nunc sed amet tellus nequeol mi aliquam tincidunt ultrices.",
    image: "/images/service-1.png"
  }
]
---

<section class="py-20 px-4">
  <SectionTitle title="Our Services" />
  <section class="mt-16 relative">
    { services.map((service, index) => <ServiceCard {...service} total={services.length} index={index} />)}
  </section>
</section>