<section class="py-20 px-4 bg-[#121212]" id="values">
  <ul class="px-9 [&>li]:flex-col md:[&>li]:flex-row [&>li]:gap-y-9 md:[&>li]:gap-x-9">
    <li class="flex items-center pb-16">
      <div class="text-gray-400 font-light text-xl">[01]</div>
      <div class="text-3xl md:text-6xl font-semibold text-white">Seguridad</div>
      <div class="text-gray-400 font-light text-xl ml-auto max-w-xl">
        Cumplimos los más altos estándares en privacidad y seguridad de datos. Contamos con certificaciones ISO, un equipo especializado en PRL y medidas de protección física y digital.
      </div>
    </li>
    <li class="flex items-center border-t border-gray-800 border-solid py-16">
      <div class="text-gray-400 font-light text-xl">[02]</div>
      <div class="text-3xl md:text-6xl font-semibold text-white">Sostenibilidad</div>
      <div class="text-gray-400 font-light text-xl ml-auto max-w-xl">
        En SOMOS Experiences, la sostenibilidad es un compromiso real. Diseñamos eventos con impacto positivo y mejoramos cada día para ser más responsables.
      </div>
    </li>
    <li class="flex items-center border-t border-gray-800 border-solid py-16">
      <div class="text-gray-400 font-light text-xl">[03]</div>
      <div class="text-3xl md:text-6xl font-semibold text-white">Propósito</div>
      <div class="text-gray-400 font-light text-xl ml-auto max-w-xl">
        La sostenibilidad no es una tendencia; es parte de nuestro ADN. Creemos que el éxito va más allá de los números: se mide en el impacto positivo que generamos.
      </div>
    </li>
  </ul>
</section>

<script>
  document.addEventListener("scroll", () => {
    const valuesSection = document.getElementById("values");
    const main = document.getElementById("main");
    if (!valuesSection || !main) return;

    const rect = valuesSection.getBoundingClientRect();
    const startPoint = 250
    const triggerPoint = 30


    if (rect.top < startPoint && rect.top > triggerPoint) {
      const progress = Math.max(0, 1 - (rect.top / startPoint));
      const whiteToDark = Math.floor(255 - (255 - 18) * progress);
      main.style.backgroundColor = `rgb(${whiteToDark}, ${whiteToDark}, ${whiteToDark})`;

    } else if (rect.top <= triggerPoint){
      main.style.backgroundColor = "#121212";
    } else {
      main.style.backgroundColor = "#FFFFFF"
    }
});
</script>