---
import PlayIcon from "../icons/PlayIcon.astro";
---

<section class="lg:py-20 py-10 px-4 bg-[#121212] relative group">
  <img
    src="/images/video-poster.jpeg"
    class="w-full h-full object-cover rounded-4xl group-hover:opacity-75 transition-all ease-out duration-300"
  />

  <button
    type="button"
    class="absolute left-1/2 lg:left-1/4 top-1/2 -translate-1/2 lg:opacity-0 group-hover:opacity-100 transition-all ease-out duration-300 cursor-pointer hover:scale-150 bg-white rounded-full h-24 w-24 flex items-center justify-center hover:bg-primary"
  >
    <PlayIcon />
  </button>
</section>
