---
import PrimaryButton from "./PrimaryButton.astro"

const {
  title,
  description,
  image,
  bgcolor = '#FFFFFF',
  color = '#000000',
  index,
  total
} = Astro.props

const offset = index * 100

---
<article style={{backgroundColor: bgcolor, color, top: `${offset}px`}} class="rounded-4xl p-8 pt-11 flex flex-col gap-y-4 sticky">
  <div class="flex gap-x-24">
    <div class="w-1/2 flex flex-col justify-between">
      <header class="flex flex-col gap-y-6">
        <h3 class="text-5xl font-semibold">{title}</h3>
        <div class="inline-flex gap-x-2">
          <PrimaryButton>Tab here</PrimaryButton>
        </div>
      </header>
      <p class="text-4xl">{description}</p>
    </div>

    <figure class="w-1/2 rounded-4xl overflow-hidden">
      <img src={image} class="object-cover" />
    </figure>
  </div>
</article>